{% extends 'shop/shared/base.html' %}

{% block content %}

    <!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dealer Stocks</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Mfr Name</th>
                        <th>Dealer Name</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id='data'>
                    {% for i in data %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.code }}</td>
                            <td>{{ i.price }}</td>
                            <td><img src="/media/{{ i.image }}" width="100px" height="80px" /></td>
                            <td>{{ i.mf_name }}</td>
                            <td>{{ i.dealer.username }}</td>
                            <form method="post" id="form">
                                {% csrf_token %}
                                <input type="hidden" name="medid" id="medid" value="{{ i.id }}">
                            <td><input type="number" class="form-control qty" data2="{{ i.id }}" data1="{{ i.price }}" name="qty" id="qty" style="width: 80px;" required></td>
                            <td id="amount{{i.id}}" class="amount">0</td>
                            <td>
                                <button type="submit" class="btn btn-success">Request</button>
                            </td>
                        </form>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('#data').on('keyup','.qty',function(){
            t = eval($(this).val()+'*'+$(this).attr('data1'))
            s = '#amount'+$(this).attr('data2')
            if($(this).val()==null){
                $(s).text(0)
            }else{
                $(s).text(t)
            }
        })
    })
</script>  

{% endblock content %}


